:root {
    background: linear-gradient(black, rgb(255, 133, 19));
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 15px;
    color: white;
}
.navegacion{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
}
nav>a{
    text-decoration: none;
}
nav{
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-1{
    display: flex;
    height: 4rem;
}
.title-style-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-1{
    margin: 5rem;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: self-end;
}
.image-1>img{
    width: 60vw;
}
.image-1>form{
    position: absolute;
}
#tit{
    position: absolute;
    font-size: 2rem;
}
h1{
    font-size: 3rem;
    text-align: center;
    text-align: center;
}
h2{
    font-size: 2rem ;
    text-align: center;
    text-align: center;
}
.style-22about{
    margin-bottom: 1.5rem;
}
.image-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.image-2>img{
    width: 40vw;
}
.image-2>p{
    width: 15vw;
    position: absolute;
}
.headerabout{
    border: 0.1 solid white;
    display: flex;
    justify-content: center;
}
.titlesabout{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75.2vh;

}
.main-about img{
    width: 20rem;
}
.figure-about{
    display: flex;
    justify-content: space-around;
}
.parrafo-about{
    display: flex;
    justify-content: space-around;
    justify-content: space-around;
}
.parrafo-about{
    display: flex;
    justify-content: space-around;
}
.parrafo-about>p{
    width: 20vw;
}
.shadow__btn {
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    font-size: 14px;
    color: #fff;
    border-radius: 100px;
    letter-spacing: 2px;
    font-weight: 700;
    -webkit-transition: 0.5s;
    transition: 0.4s;
    -webkit-transition-property: -webkit-box-shadow;
    transition-property: -webkit-box-shadow;
    transition-property: box-shadow;
    transition-property: box-shadow, -webkit-box-shadow;
}
.shadow__btn {
    background: rgb(255, 81, 0);
    -webkit-box-shadow: 0 0 20px rgb(255, 81, 0);
            box-shadow: 0 0 25px rgb(255, 81, 0)
}
.shadow__btn:hover {
    -webkit-box-shadow: 0 0 5px rgb(255, 0, 0),
                0 0 20px rgb(255, 0, 0),
                0 0 10px rgb(255, 0, 0),
                0 0 40px rgb(255, 136, 0);
            box-shadow: 0 0 5px rgb(255, 136, 0),
                0 0 20px rgb(255, 136, 0),
                0 0 10px rgb(255, 136, 0),
                0 0 40px rgb(255, 123, 0);
}
p{
    font-size: 1.2rem;
}
.title-3-style-2{
    display: flex;
    height: 86vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-contact>img{
    width: 45rem;
    position: static;
}
#title-2{
    position: absolute;
}
.parrafo-contact{
    display: flex;
    justify-content: space-evenly;
    height: 17rem;
}
.parrafo-contact-1{
    height: 17rem;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gmail-tell{
    height: 17rem;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
table, tr, th, td {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
}
.tablas{
    display: flex;
    justify-content: center;
    height: 75.4vh;
    height: 75.4vh;
}
table{
    width: 50rem;
    height: 20rem;
    text-align: center;
}
caption{
    text-align: start;
    font-size: 1.5rem;
}
.body-list{
    height: 98.5vh;
}
.lists{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
}
.sub-title-1{
    width: 30vw;
}
.sub-title-2{
    width: 30vw;
}
.guys img{
    width: 20vw;
}
.guys>figure{
    height: 70vh;
    width: 40vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.guys-lists{
    height: 70vh;
    display: flex;
    justify-content: space-around;
}
input, select, option{
    color: black;
}
.todo{
    display: flex;
    height: 130vh;
    justify-content: space-around;
    align-items: center;
}
.imagens-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 41vw;
    height: 50rem;
}
.formulary{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 30rem;
    justify-content: space-evenly;
    height: 70vh;
}
.formulary h3{
    text-align: center;
}
.imagens-form img{
    width: 40vw;
}
#service{
    height: 10rem;
    width: 25rem;
}
.service{
    display: flex;
    flex-direction: column;
}
.mapa{
    background-color: black;
    display: flex;
    justify-content: start;
    height: 22rem;
}
.mapa iframe{
    margin-left: 2rem;
    margin-top: 1rem;
}
@media only screen and (max-width: 767px) {  
    body{
        height: 134vh;
    } 
    #tit{
        font-size: 2vw;
    }
    h1{
        font-size: 6vw;
        text-align: center;
        text-align: center;
    }
    h2{
        font-size: 3vw ;
        text-align: center;
        text-align: center;
    } 
    p{
        font-size: 1.5vw;
    }
    .navegacion{
        margin: 0%;
        border: 0.1rem solid white;
        background-color: black;
        position: sticky;
        display: flex;
        justify-content: space-evenly;
    }
    .shadow__btn{
        color: rgb(255, 255, 255);
        border-radius: 1rem;
        width: 12vw;
        height: 5vh;
        text-align: center;
        background-color: rgb(255, 115, 0);
        box-shadow: 1rem orangered;
        padding: 0rem;
        font-size: 1.5vw;

    }
    nav{
        width: 100vw;
    }
    .body-about{
        width: 100vw;
        height: 99vh;
    }
    .headerabout{
        display: flex;
    }
.main-about{
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    height: 65vh;
}
.figure-about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.parrafo-about{
    flex-direction: row;
    flex-wrap: wrap;
}
.figure-about img{
    width: 20vw;
}
.parrafo-contact{
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
}
.image-contact img{
    width: 60vw;
}
.title-3-style-2{
    height: 55vh;
}
.gmail-tell{
    width: 30vw;
    height: 25vh;
}
.parrafo-contact-1{
    height: 25vh;
}
.contact-body{
    height: 100vh;
}
/* .body-tables{
    height: 100vh;
}
 */.tablas{
    display: flex;
    justify-content: center;
    height: 40vh;
}
.guys img{
    width: 30vw;
}
.formulary{
    width: 54vw;
}
.todo{
    display: flex;
flex-direction: column;    
justify-content: space-around;
margin: 0%;
}
.body-about{
    height: 100vh;
}
.body-form{
    height: 150vh;
}
.mapa{
}
.imagens-form{
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 80vw;
}
.imagens-form img{
    width: 30vw;
}
}